# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#

# Misc
.gcloudignore
.git
.gitignore
.gitkeep
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
README.md

# Environment variables, because they are set via app.yaml
.env
*.env

# app.yaml files, since GAE already knows the configuration based on our
# deployment
app.yaml

# Dependencies
node_modules/

# Testing
coverage/
__tests__/
__mocks__/
__snapshots__/

# Production
build/
dist/

# Does more harm than good
package-lock.json
yarn.lock
